<div class="card">
  <div class="card-header">My Projects</div>
  <div class="card-body">
      <div class="table-container">
          <table class="table">
              <thead>
                  <tr>
                      <th>Project's name</th>
                      <th>Labels</th>
                      <th>Number of annotated data</th>
                      <th>Total data</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let project of projects">
                      <td>{{ project.name }}</td>
                      <td>
                        <div class="labels-container">
                            <div *ngFor="let label of project.labels" class="label-badge" >
                              {{ label }}
                            </div>
                          </div>
                      </td>
                      <td>{{ project.annotated }}</td>
                      <td>{{ project.total }}</td>
                      <td>
                        <div class="buttons-container">
                            <button class="btn btn-primary" (click)="annotateProject(project.id)">Annotate</button>
                            <button class="btn btn-danger" (click)="deleteProject(project.id)">Delete</button>
                        </div>
                         
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <button class="btn btn-modal" (click)="openModal()">Add New Project</button>
  </div>
</div>

<div class="modal" *ngIf="isNewProjectPopupOpen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Project</h5>
        <button class="close-btn" (click)="closeModal()">✖</button>
      </div>
  
      <div class="modal-body">
        <form (ngSubmit)="addProject()">
          
          <!-- ETAP 1: NAZWA I PLIK -->
          <div *ngIf="currentStep === 1">
            <app-custom-input 
              [value]="newProject.name"
              label="Nazwa projektu" 
              (valueChange)="changeProjectName($event)">
            </app-custom-input>
  
            <app-custom-file-upload 
              (fileSelected)="onFileSelected($event)">
            </app-custom-file-upload>

            <div class="buttons-container-modal">
                <button class="btn-secondary">Close</button>
                <button class='btn' (click)="nextStep()" [disabled]="!newProject.file">Next</button>
            </div>
  
          </div>
  
          <!-- ETAP 2: WYBÓR KOLUMN -->
          <div *ngIf="currentStep === 2">
            <app-custom-dropdown 
              label="Text column"
              [options]="columnNames" 
              placeholder="Wybierz kolumnę z tekstem"
              (selectedChange)="newProject.columnTextName = $event">
            </app-custom-dropdown>
  
            <app-custom-dropdown 
              label="Labels column"
              [options]="columnNames" 
              placeholder="Wybierz kolumnę z labelami"
              (selectedChange)="newProject.columnLabelName = $event">
            </app-custom-dropdown>

            <div class="buttons-container-modal">
                <button class="btn-secondary" (click)="prevStep()">Previous</button>
                <button class="btn" (click)="nextStep()">Next</button>
            </div>
  
     
          </div>
  
          <!-- ETAP 3: ZNALEZIONE LABELE -->
          <div *ngIf="currentStep === 3">
            
            <div class="summary-card">
              <div class="summary-item">
                <span class="summary-label">Name:</span>
                <span class="summary-value">{{ newProject.name }}</span>
              </div>
          
              <div class="summary-item">
                <span class="summary-label">File:</span>
                <span class="summary-value">{{ newProject.file?.name || 'Brak pliku' }}</span>
              </div>
          
              <div class="summary-item">
                <span class="summary-label">Text column</span>
                <span class="summary-value">{{ newProject.columnTextName }}</span>
              </div>
          
              <div class="summary-item">
                <span class="summary-label"> Labels column:</span>
                <span class="summary-value">{{ newProject.columnLabelName }}</span>
              </div>
          
              <div class="summary-item">
                <span class="summary-label">Labels:</span>
                <div class="labels-container">
                  <div *ngFor="let label of newProject.availableLabels" class="label-badge">
                    {{ label }}
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons-container-modal">
                <button class="btn-secondary" (click)="prevStep()">Previous</button>
                <button class="btn" type="submit">Add project</button>
            </div>

          </div>
  
        </form>
      </div>
    </div>
  </div>
  
