
.annotation-container{
    display: flex;
    flex-direction: column;
}
.options-container{
    display: flex;
    width: 100%;
    padding: 16px 42px;
    gap: 5px
    

}
.data-container{
    display: flex;
    padding: 8px 42px;
}
.table-wrapper{
    height: 75vh;
    width: 60%;
}
.table-container {
    height: 70vh;
    overflow: auto;

    position: relative;
}

.loader-wrapper{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}


tr.new-annotation {
    border-left: 4px solid var(--accent-color);
    transition: border-left 0.5s ease-in-out;
}

thead tr{
    border-left: 4px solid black;
  }


.evaluation-container{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    .success-container{
        background-image: url(../../../assets/success.svg);
        cursor: pointer;
    }
    
    .failure-container {
        background-image: url(../../../assets/failure.svg);
        cursor: pointer;
    }

    .labels-options{
        font-size: 14px;
        padding: 16px 32px;
        border-radius: 8px;
        color: rgb(192, 192, 192);
        letter-spacing: 2px;
        text-align: center;
        border: 1px solid rgba(192, 192, 192, 0.55);
        .option{
            cursor: pointer;
            margin-bottom: 4px;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom: 1px solid rgb(192, 192, 192, 0.55);
                transition: border-bottom 0.5s
            };
        }
    }
}


.strikethrough {
    text-decoration: line-through;
    color: var(--error-color)
}
.correct{
    color: #4CAF50
}



/* statistics-container */

.statistics-container{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 40%;
}

.project-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-primary);
}

.stat-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolumny */
    grid-gap: 16px;
    width: 100%;
    max-width: 600px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
}

.value {
    font-size: 48px;
    font-weight: 10;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.value.ng-animating {
    transform: translateY(-10px);
    opacity: 0;
}




/* dropdown */

.dropdown-container{
    position: relative;
    /* border: 1px solid var(--text-color); */
    padding: 8px 56px;
    border-radius: 20px;
    cursor: pointer;
    .limit-wrapper{
        display: flex;
        gap: 16px;
        height: 100%;
        .limit{
            position: relative;
            padding: 0 8px;
        }
    }
    .dropdown-options{
        position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        /* background-color: var(--background-color); */
    
        z-index: 20;
        .dropdown-option{
            border-bottom: 1px solid var(--background-color);
            padding: 16px 32px;
            cursor: pointer;
            &:hover{
                border-bottom: 1px solid var(--text-color)
            }
           
        }
   
    }
}
  


@keyframes blinkEffect {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.blinking {
    animation: blinkEffect 1s infinite ease-in-out;
}