
.annotation-container{
    display: flex;
    flex-direction: column;
}
.options-container{
    display: flex;
    width: 100%;
    padding: 16px 42px;
    gap: 5px
    

}
.data-container{
    display: flex;
    padding: 8px 42px;
}
.table-wrapper{
    height: 75vh;
    width: 50%;
}
.table-container {
    height: 70vh;
    overflow: auto;

    position: relative;
}

.loader-wrapper{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}


tr.new-annotation {
    border-left: 4px solid var(--accent-color);
    transition: border-left 0.5s ease-in-out;
}

thead tr{
    border-left: 4px solid black;
  }
  
  