<div *ngIf="project" class="card">
    <div class="card-header">My Annotations</div>
  
    <div class="annotation-container">
      <div class="options-container">
        <div class="dropdown-container" (click)="toggleDropdown()">
          <div class="limit-wrapper">
            <p>Limit: </p>
            <div class="limit">
              {{limit}}
              <!-- <div class="dropdown-options" *ngIf="dropdownOpen">
                <div 
                *ngFor="let option of limitOptions" 
                class="dropdown-option" 
                (click)="selectLimit(option)">
                {{ option }}
              </div>
            </div> -->
          </div>

       
          </div>
        </div>

        <button (click)="startAnnotation()" class="btn" [disabled]="loading">Annotate</button>
        <button (click)="downloadAnnotatedFile()" class="btn">Download file</button>
      </div>
  
      <div class="data-container">
        <div class="table-wrapper">
          <div class="table-container" #tableContainer>
            <table class="table">
              <thead>
                <tr>
                  <th [style.width.px]="10">No.</th>

                  <th>Text</th>
                  <th>My Label</th>
                  <th>Predicted label</th>
                  <th >Evaluation</th>
                  <th >Explanation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of annotatedData.slice(0, project.lastAnnotatedIndex); let i = index"
                [ngClass]="{'new-annotation': i >= annotatedData.length - 10 && isFirstDataLoaded, 'blinking': currentlyAnotatedIds.includes(record.id)}" >

                  <td >{{ i + 1 }}</td>
                  <td>{{ record.text }}</td>
                  <td>{{record.label}}</td>
                  <td [ngClass]="{'strikethrough': (record.predicted_label_by_llm !== record.evaluated_label_by_user) && record.evaluated_label_by_user, 'correct': (record.predicted_label_by_llm === record.evaluated_label_by_user && record.evaluated_label_by_user) }">{{ record.predicted_label_by_llm }}</td>
                  <td >
                    <div *ngIf="!record.evaluated_label_by_user && record.predicted_label_by_llm" class="evaluation-container">
                        <div *ngIf="evaluatedExample.id !== record.id" class="success-container icon"  (click)="setTrueLabel(record.predicted_label_by_llm, record.id)"></div>
                        <div  *ngIf="evaluatedExample.id !== record.id" class="failure-container icon" (click)="openLabelsOptions(record.id)"></div>
                         <div *ngIf="evaluatedExample.id === record.id && clickedIcon === 'failure'" class="labels-options">
                          <div class="option" *ngFor="let option of project.labels">
                            <p (click)="setTrueLabel(option)">{{option}}</p>
                          </div>
                        </div>
                    </div>
                    {{record.evaluated_label_by_user}}
                  </td>
                  <td>

                    <div class="parent-container">
                      <div class="explanation" *ngIf="record.explanation">{{record.explanation}}</div>
                      <div *ngIf="record.predicted_label_by_llm && !record.explanation"class="explanation-icon">
                        <div class="generate" *ngIf= "!explanationLoader && record.id != explanationId"  (click)="generateExplanation(record.id)">Generate</div>
                        <div class="loading" *ngIf= "explanationLoader && record.id === explanationId">LOADING...</div>
                        <div class="block" *ngIf="explanationLoader && record.id != explanationId">BLOCK</div>
                      </div>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-container *ngIf="loading">
            <ng-template [ngTemplateOutlet]="loaderTemplate"></ng-template>
          </ng-container>
        </div>
  
        <div class="statistics-container">
          <div class="project-info-container">
            <div class="stat-grid">
              <div class="stat-item">
                <span class="label">Total:</span>
                <span class="value" [@numberChange]="project.total">{{ project.total }}</span>
              </div>
              <div class="stat-item">
                <span class="label">Annotated:</span>
                <span class="value" [@numberChange]="project.number_annotated_data">{{ project.number_annotated_data }}</span>
              </div>
              <div class="stat-item">
                <span class="label">Evaluated:</span>
                <span class="value" [@numberChange]="project.number_evaluated_data">{{ project.number_evaluated_data }}</span>
              </div>
              <div class="stat-item">
                <span class="label">Positive:</span>
                <span class="value" [@numberChange]="project.number_positive_evaluated_data">1</span>
              </div>
             
            </div>
          </div>
          <div class="selection-container">
          <div class="card-header">Here are some examples for You! Help model!</div>
          <div class="table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Text</th>
                  <th>Predicted</th>
                  <th>Select Label</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ex of highEntropyExamples; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ ex.text }}</td>
                  <td>{{ labelMap[+ex.predicted_label_by_llm] || ex.predicted_label_by_llm }}</td>

                  <td>
                    <div class="labels-options">
                      <div class="option" *ngFor="let id of (labelMap | keyvalue)">
                        <button (click)="markAsSelectedPromptExample(ex.id, +id.key)">
                          {{ id.value }}
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          
        </div>
      </div>


    </div>
  </div>
  
  <ng-template #loaderTemplate>
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
  </ng-template>
  