<div *ngIf="project" class="project-details">
  <!-- <div class="project-card">
    <h6 class="project-title">Projekt: {{ project.name }}</h6>
    <div class="project-info">
      <p><strong>Tekst:</strong> {{ project.textColumn }}</p>
      <p><strong>Etykiety:</strong> {{ project.labelsColumn }}</p>
      <p><strong>Dostępne:</strong> {{ project.labels }}</p>
    </div> -->
  <!-- </div> -->

  <button (click)="annotatePartially(10)" class="btn-primary" [disabled]="loading">Anotuj 10 rekordów</button>
  <button (click)="downloadAnnotatedFile()" class="btn-success">Pobierz plik</button>

  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tekst</th>
          <th>Przewidywana etykieta</th>
          <th>Oryginalna etykieta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of annotatedData.slice(0, project.lastAnnotatedIndex); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ record.text }}</td>
          <td>{{ record.predicted_label }}</td>
          <td>{{ record.original_label }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loading" class="loader-container">
    <div class="loader"></div>
  </div>
</div>
